* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #111;
  }

  .marqueeWrapper {
    position: relative;
    overflow: hidden;
}

.marqueeWrapper::before,
.marqueeWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Adjust width to control shadow spread */
    pointer-events: none;
    z-index: 1; /* Ensure it overlays the content */
}

.marqueeWrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
}

.marqueeWrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
}

.marquee {
    display: flex;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    will-change: transform;
    color: white; /* Set text color to white */

    animation: scroll var(--duration) linear infinite;
    animation-play-state: running; /* Set animation to run by default */
}

/* Pause animation on hover */
.marqueeWrapper:hover .marquee__content {
    animation-play-state: paused;
}

/* Keyframes for marquee scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animated-border-box,
.animated-border-box-glow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  pointer-events: none; /* Avoid interfering with hover effects */
}

.animated-border-box-glow {
  filter: blur(25px); /* Reduced blur for a softer glow */
  background: conic-gradient(rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0) 25%);
  animation: rotate 14s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}



